<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find arm_control)/config/arm_stand_control.yaml"/>
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
  <!--<rosparam command="load" file="$(find arm_control)/config/hand_joint_trajectory_controllers.yaml" />-->
  <rosparam command="load" file="$(find arm_control)/config/hand_pids.yaml" />
  
  <!-- load the controllers -->
  <node name="control_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/arm_stand" 
  args="joint_state_controller
        joint_base_mid_position_controller
        joint_mid_top_position_controller
        joint_top_fore_position_controller
        hand_controller"/>
        
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/arm_stand/joint_states" />
  </node>

  
</launch>