<launch>
  <arg name="gui" default="true"/>
  <arg name="start_gazebo" default="true"/>
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gzweb" default="false"/>
  <arg name="verbose" default="false"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find prosthetic_gazebo)/worlds/startup_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>
  
  <!--Robot launch files arguments-->
  <arg name="arm"  default="True"/>
  <arg name="end_effector"  default="pal-hey5"/>
  <arg name="ft_sensor"  default="schunk-ft"/>
  <arg name="laser_model"  default="false"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <arg name="wrist_model"  default="wrist-2017"/>
  <arg name="multi" default=""/>
  <arg name="gzpose" default="-x -0.9 -y -0.9 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- Robot description -->
  <param name="robot_description"
    command="rosrun xacro xacro '$(find tiago_description)/robots/tiago.urdf.xacro'
    arm:=$(arg arm)
    wrist_model:=$(arg wrist_model)
    end_effector:=$(arg end_effector)
    ft_sensor:=$(arg ft_sensor)
    laser_model:=$(arg laser_model)
    camera_model:=$(arg camera_model)
    $(arg multi)" />
  
  <rosparam command="load" file="$(find tiago_description)/config/collision/collision_parameters.yaml" />
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description $(arg gzpose) -reference_frame cafe_table::link -model tiago" />
  
  <!-- Load default controllers -->
  <include file="$(find tiago_controller_configuration)/launch/tiago_controllers.launch">
    <arg name="arm" value="$(arg arm)"/>
    <arg name="end_effector" value="$(arg end_effector)"/>
    <arg name="ft_sensor" value="$(arg ft_sensor)"/>
    <arg name="laser_model" value="$(arg laser_model)"/>
    <arg name="camera_model" value="$(arg camera_model)"/>
    <arg name="wrist_model" value="$(arg wrist_model)"/>
  </include>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="use_tf_static" type="bool" value="true"/>
  </node>



</launch>